{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ episode.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ episode.title }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ episode.number }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td>{{ episode.synopsis }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td>
                <ul>
                    {% for comment in comments %}
                          <li> {{ comment.author.email }} </li>
                        <li>  {{ comment.comment }}</li>
                        <li> Rate : {{ comment.rate }} </li>
                        {% if app.user == comment.author or is_granted('ROLE_ADMIN') %}
                            {{ include('comment/_delete_form.html.twig') }}
                        {% endif %}
                        <hr>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    {% if app.user %}
        <a class="btn btn-light"href="{{ path('comment_new', {'id': episode.id}) }}">Laisser un commentaire</a>
    {% endif %}

    <br>
    <a href="{{ path('episode_index') }}">back to list</a> <br>


    {%  if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
        {{ include('episode/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
